{% extends 'index.html' %}

{% block title %} Home {% endblock %}


{% block body %}
    <!-- Content -->
     <section class="promo text-center mt-2">
      <div class="wrapper">
        <div class="images-promo">
          <img src= "../static/img/tokped.webp" class="img-fluid" alt="Responsive image" />
          <img src= "../static/img/promo2.jpg" class="img-fluid" alt="Responsive image" />
          <img src= "../static/img/tokped.webp" class="img-fluid" alt="Responsive image" />
          <img src= "../static/img/promo2.jpg" class="img-fluid" alt="Responsive image" />
        </div>
      </div>
    </section>

     <section class="list-barang">
      <nav class="navbar bg-body-tertiary pt-2 mt-2 shadow-sm">
        <div class="container-fluid justify-content-center">
         <a href="/barang" class="text-black text-decoration-none">
          <h4 class="navbar-brand border-bottom border-2 border-primary">Shoes Colecction</h4>
        </a>
        </div></nav>
      <div class="row text-center gap-2 justify-content-center mt-2 mb-2">
        <a href="/barang" class="text-decoration-none text-black">
        <div class="card" style="width: 10rem;">
          <img src="../static/img/shoes1.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Reebok BB 1000 Men Lifestyle Shoes - White.</p>
            <p class="card-text mt-50 ">Rp. 669.000</p>
          </div>
        </a>
        </div>        
        <div class="card" style="width: 10rem;">
          <img src="../static/img/shoes7.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Men's dress shoes - pemium leather, dark brown.</p>
            <p class="card-text pt-20 ">Rp. 669.000</p>
          </div>
        </div>        
        <div class="card" style="width: 10rem;">
          <img src="../static/img/shoes2.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">ForeverRun NITRO™ Men's Running Shoes</p>
            <p class="card-text">Rp. 2.299.000</p>
          </div>
        </div>        
        <div class="card" style="width: 10rem;">
          <img src="../static/img/shoes3.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Women's dress shoes - pemium leather, black + idk.</p>
            <p class="card-text">Rp. 669.000</p>
          </div>
        </div>        
        <div class="card" style="width: 10rem;">
          <img src="../static/img/shoes4.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Naki air 5 women.</p>
            <p class="card-text">Rp. 669.000</p>
          </div>
        </div>
        <div class="card" style="width: 10rem;">
          <img src="../static/img/shoes5.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Running shoes for women.</p>
            <p class="card-text">Rp. 669.000</p>
          </div>
        </div>
    </div>
     </section>
  <!-- Shirt -->
   <section class="list-barang">
    <nav class="navbar bg-body-tertiary pt-2 mt-2 shadow-sm">
      <div class="container-fluid justify-content-center">
       <a href="/barang" class="text-black text-decoration-none">
        <h4 class="navbar-brand border-bottom border-2 border-primary">Shirt Colecction</h4>
      </a>
      </div></nav>
    <div class="row text-center gap-2 justify-content-center mt-2 mb-2">
      <a href="/barang" class="text-decoration-none text-black">
      <div class="card" style="width: 10rem;">
        <img src="../static/img/baju.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Athletic Works Men's Tri-Blend T-Shirt, Black-special.</p>
          <p class="card-text mt-50 ">Rp. 69.000</p>
        </div>
      </a>
      </div>        
      <div class="card" style="width: 10rem;">
        <img src="../static/img/baju1.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">SILVERCELL Baby Boys Summer Clothes Short, HD printed. </p>
          <p class="card-text pt-20 ">Rp. 59.000</p>
        </div>
      </div>        
      <div class="card" style="width: 10rem;">
        <img src="../static/img/baju2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">HILEELANG Little Boy Green Camouflage Tiger.</p>
          <p class="card-text">Rp. 99.000</p>
        </div>
      </div>        
      <div class="card" style="width: 10rem;">
        <img src="../static/img/baju3.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">HILEELANG Little Boy White Sweatshirts Dogs.</p>
          <p class="card-text">Rp. 99.000</p>
        </div>
      </div>        
      <div class="card" style="width: 10rem;">
        <img src="../static/img/baju4.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Time and Tru Women's Rolling Stones T-Shirt.</p>
          <p class="card-text">Rp. 59.000</p>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img src="../static/img/baju5.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Scoop Women’s Fluffy Knit Tee, Midweight.</p>
          <p class="card-text">Rp. 99.000</p>
        </div>
      </div>
  </div>
   </section>

    <!-- Content End -->

{% endblock %}
